  <h1 class="text-center">Why we are the best</h1>
  <div class="d-flex align-items-center bg-danger">
    <div class="flex-shrink-0">
      <img src="./assets/rest.png" >
    </div>
    <div class="flex-grow-1 ms-3">
      The key to progress is much similar to the key to improving a pizza , the more you put into it, the more you receive in return. Our pizza family is as eager for flawlessness today as we were at the point at which we originally opened our entryways over 40 years back. Also, we're headed to be the best at making creative new items and formulas.

            Quality is at our center. It's the establishment we began with, from the main <i><b>'NAPOLI Pizza'</b></i> pizza that was made in a sweeper storage room in Manhattan, IN, to now in excess of 5,000 areas in 45 nations and regions around the globe.
            
            We don't utilize shabby and increasingly prepared fixings. Regardless of whether it's our mark sauce, fixings, our unique new mixture, or even the case itself, we put resources into our fixings to guarantee that we generally give you the best quality pizza.
            
            For you, it's not only a superior pizza. It's a family assembly, an important birthday, a work festivity, or basically an incredible supper. It's our objective to ensure you generally have the best elements for each event. <br>

            We should keep priority the main thing, The Main Thing, which is pizza. We will reliably convey a conventional <i><b>'NAPOLI Pizza'</b></i> unrivaled quality pizza.
            
            <h4 style="text-align: center;">Responsibility</h4>
            
            We do what we state we will do when we state we will do it. We win the privilege to hold others to a larger amount of responsibility by being responsible to ourselves, our clients, and our colleagues.
            
            Our consumer loyalty must be predictable, quantifiable, and verifiable. At <i><b>'NAPOLI Pizza'</b></i> we anticipate perfection , the “best in its class” in all that we do.
        
    </div>
  </div>

  <div class="text-center my-5">
    <img src="/assets/img3.png" class="rounded" alt="">
    "Our Favorite"
    <img src="/assets/img7.png" class="rounded" alt="...">
    "Our Best Seller"
    <img src="/assets/img4.png" class="rounded" alt="...">
    "Our Newest"
<br><br>
    <div class="list-group">
      <p class="zzz" style="color: crimson; background: greenyellow; margin: 0 auto; border: 5px solid red;">NEWS!!! NEWS!!! NEWS!!!</p> 
      
      <a href="#" class="list-group-item list-group-item-action" aria-current="true">
        Cooming soon!!!
      </a>
      <a  class="list-group-item list-group-item-action bg-success" style="font-size: 20px;" ><img src="/assets/pasta.png" alt=""> Pasta</a>
      <a  class="list-group-item list-group-item-action bg-success" style="font-size: 20px;"> <img src="/assets/burger.png" class="z" style="width: 301px; height: 200px;"> Burger</a>
  </div>
  </div>
