
/* .conteiner{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    margin:0 auto;
    background-color: aqua;
    top: 0;
}
 h1{
    text-align: center;
 } */